.nav-user {
    padding-left: 2rem; padding-right: 2rem;
}

.nav-title {
    text-decoration: none;
    font-size: 24px;
}
.nav-user > a {
    text-decoration: none;
}

.nav-user__profile > img {
    width: 40px;
    border-radius: 50px;
}